body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

.color-grid {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 10px;

}

.color-box {
    width: 100px;
    height: 100px;
    cursor: pointer;
    border: 1px solid #333;

}

#resetButton {
    margin-top: 10px;
    padding: 5px 10px;
    cursor: pointer;
}